* {
  box-sizing: border-box;
}


body {
  background: rgb(255,164,122);
  background: linear-gradient(180deg, rgba(255,164,122,1) 1%, rgba(85,162,223,1) 76%);
margin:auto;
margin-top: 10%;


}

.slideshow {
  position: relative;
  width: 100%;
  height: 100vh; /* Use the full height of the viewport */
  overflow: hidden; /* Hide overflowing images */
}

.slideshow img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Make the image width 100% of the container */
  height: 100%; /* Make the image height 100% of the container */
  object-fit: cover; /* Preserve aspect ratio while covering the entire container */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow img.active {
  opacity: 1;
  z-index: 1; /* Bring active image to the front */
}




h6 {
  color:white;
  background-color: hotpink;
  padding: 5px;
  border:3px solid mediumpurple
}
h6:hover {
  color:white;
  background-color: mediumpurple;
  padding: 5px;
}



a:hover {
color: black;
background-color: hotpink;
border: 2px solid white;
padding: 1px;

}

.head {
  color: tomato
;
  font-style: normal;
  font-family: helvetica;
  font-size: 55px;
  margin: 3%;
  text-shadow: 3px 3px royalblue;
  word-spacing: 5px;
  letter-spacing: 2px;

}

.head:hover {
  color: royalblue;
  font-style: normal;
  font-family: helvetica;
  font-size: 60px;
  margin: 3%;
  text-shadow: 3px 3px tomato;
  word-spacing: 5px;
  letter-spacing: 2px;

}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #cc99ff
;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

ul.topnav li a:hover:not(.active) {background-color: #ffb3ff;}

ul.topnav li a.active {background-color:hotpink;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid white;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

</style>
</head>
<body>
