body {
  font-family: "Montserrat", sans-serif
}

/* Default styles */
/* Default styles */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: sticky;
  right: 100%;
  margin-left: 0;
  width:15%;
  top:0%;
  z-index: 2%
}

#time {
  color:white;
  background-color: mediumpurple;
  width: 100%;
  font-size: 10px;
  padding: 5px;
  margin-top: 26%;
    margin-bottom: 0%;
    border: 2px solid hotpink
}

#time:hover {
  color:white;
  background-color: hotpink;
  width: 100%;
  font-size: 15px;
  padding: 5px;
  margin-top: 26%;
    margin-bottom: 0%;
    border: 2px solid hotpink
}

button {
  color: white;
  background-color: mediumpurple;
  padding: 5px;
  margin: 0;
  font-size: 10px;
  width: 100%;
  box-sizing: border-box;
    border: 1px solid hotpink

}


button:hover {
  color:White;
  background-color: hotpink;


  font-size: 15px
}

/* Style for light mode */
body.light-mode {
  background-color: #f8f9fa;
  color: #343a40;
}

/* Style for dark mode */
body.dark-mode {
  background-color: #343a40;
  color: #f8f9fa;
}

.button-blue-yellow {
  filter: brightness(110%) hue-rotate(45deg) saturate(150%);
}

.blue-yellow-filter-active {
  filter: invert(100%) hue-rotate(180deg);
}

#keyboard-input {
  background-color: royalblue;
  color:white
}

#keyboard-input:hover {
  background-color: dodgerblue;
  color:white
}

.green-red-filter {
  filter: invert(100%) sepia(100%) saturate(5) hue-rotate(105deg);
}

.color-tint {
  filter: brightness(110%) contrast(90%) saturate(150%) hue-rotate(190deg);
}

/* Hide the dropdown content by default */
.dropdown-content {
  display: none;
  font-size: 10px;
}

#keyboard {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 10px;
  background-color: royalblue;
  border: 1px solid #ccc;
  color: white
}

.red-green-filter-active {
  filter: sepia(100%) hue-rotate(-100deg) saturate(200%);
}

.button-blue-yellow {
  filter: invert(75%) sepia(100%) saturate(400%) hue-rotate(195deg) brightness(1.2);
}

#keyboard-buttons button {
  padding: 10px;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

:focus {
  outline: 2px solid white;
  background-color: royalblue
}

/* Invert filter */
.invert {
  filter: invert(100%);
}

h6 {
  color:white;
  background-color: hotpink;
  padding: 5px;
  border:3px solid mediumpurple
}
h6:hover {
  color:white;
  background-color: mediumpurple;
  padding: 5px;
}
/* Increase contrast */
.contrast-increase {
  filter: contrast(1.5);
}

/* Decrease contrast */
.contrast-decrease {
  filter: contrast(0.5);
}
