* {
  box-sizing: border-box;
}


body {
  background: rgb(249,217,0);
background: linear-gradient(0deg, rgba(249,217,0,1) 0%, rgba(253,45,45,1) 100%);
margin:auto;
margin-top: 10%;


}
/* Default styles */
.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px; /* specify the width you want for the sidebar */
  position: fixed; /* fixed position to keep it always visible */
  left: 0; /* position it on the left side */
  top: 0; /* position it at the top */
  bottom: 0; /* set the height to cover the whole height of the viewport */

  overflow-y: auto; /* enable vertical scrolling if the content exceeds the height */
  z-index: 1; /* set a higher z-index to make it appear above other elements */
  overflow: auto;



}

.head {
  color: oldlace
;
  font-style: normal;
  font-family: helvetica;
  font-size: 55px;
  margin: 10%;
  text-shadow: 3px 3px black;
  word-spacing: 5px;
  letter-spacing: 2px;
  transition: width 2s, height 4s;

}

.head:hover {
  color: black
;
  font-style: normal;
  font-family: helvetica;
  font-size: 60px;
  margin: 10%;
  text-shadow: 3px 3px oldlace;
  word-spacing: 5px;
  letter-spacing: 2px;

}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #cc99ff
;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

ul.topnav li a:hover:not(.active) {background-color: #ffb3ff;}

ul.topnav li a.active {background-color:hotpink;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid white;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

</style>
</head>
<body>
